@media (max-width: 599px) {
  .toast-wrapper {
    min-width: 200px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .toast-wrapper {
    min-width: 250px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .toast-wrapper {
    min-width: 300px;
  }
}

@media (min-width: 1200px) {
  .toast-wrapper {
    min-width: 350px;
  }
}