.color-picker {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.color-picker.disabled {
  cursor: not-allowed;
}

.color-box {
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.color-box.selected {
  border-color: #000;
}

.color-box:hover {
  border-color: #777;
}