.SliderContainer {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.Slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.Image {
  width: 100%;
  height: auto;
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

button:first-of-type {
  left: 10px;
}

button:last-of-type {
  right: 10px;
}