.checklist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.task input[type='checkbox'] {
  margin-right: 10px;
}

.checked span {
  text-decoration: line-through;
  color: #4caf50;
}

.unchecked span {
  color: #f44336;
}

.partiallyComplete span {
  text-decoration: underline;
  color: #ff9800;
}