.ListContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  background-color: #fff;
}

.ListItem {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  background-color: #fff;
}

.ListItem:hover {
  background-color: #f9f9f9;
}

.ListItem.active {
  background-color: #f0f0f0;
}