.snackbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
}

.snackbar-message {
  flex-grow: 1;
  margin-right: 10px;
}

.snackbar-action {
  background-color: transparent;
  border: none;
  color: #1e90ff;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.snackbar-action:hover {
  opacity: 0.8;
}

.snackbar-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.snackbar-close:hover {
  opacity: 0.8;
}