.AccordionListWrapper .AccordionHeader:hover {
  background-color: #e0e0e0;
}

@media (max-width: 480px) {
  .AccordionListWrapper {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .AccordionListWrapper {
    width: 95%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .AccordionListWrapper {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .AccordionListWrapper {
    width: 60%;
  }
}