@media (max-width: 599px) {
  .timeline-wrapper {
    padding-left: 10px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .timeline-wrapper {
    padding-left: 15px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .timeline-wrapper {
    padding-left: 20px;
  }
}

@media (min-width: 1200px) {
  .timeline-wrapper {
    padding-left: 20px;
  }
}