.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: inherit;
}

.small {
  font-size: 16px;
}

.medium {
  font-size: 24px;
}

.large {
  font-size: 32px;
}