/* ImageViewer.css */
.image-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 480px) {
  .image {
    border-radius: 6px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .image {
    border-radius: 7px;
  }
}

@media (min-width: 769px) {
  .image {
    border-radius: 8px;
  }
}