.breadcrumbs-nav {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breadcrumb-item {
  margin-right: 10px;
}

.breadcrumb-separator {
  margin: 0 5px;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: #007bff;
}