.ListContainer {
  width: 100%;
}

.List {
  list-style-type: decimal;
  padding: 0;
  margin: 0;
}

.ListItem {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.ListItem.selected {
  background-color: #007bff;
  color: #fff;
}

.ListItem.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.ListItem:hover {
  background-color: #f0f0f0;
}