.star-rating-icon-container {
  display: flex;
}

.star {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 0 2px;
}

.star.filled {
  color: gold;
}

.star.empty {
  color: lightgray;
}

.star:hover {
  transform: scale(1.2);
}