.menu-list-container {
  width: 100%;
}

.menu-item {
  padding: 10px;
  background-color: #f7f7f7;
  cursor: pointer;
}

.menu-item.active {
  background-color: #e0e0e0;
}

.menu-item:hover {
  background-color: #d0d0d0;
}

.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.sub-menu.expanded {
  max-height: 100px;
}