.AccordionHeader:hover {
  background-color: #e0e0e0;
}

.AccordionContent {
  transition: max-height 0.2s ease-out;
}

@media (max-width: 480px) {
  .AccordionWrapper {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .AccordionWrapper {
    width: 95%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .AccordionWrapper {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .AccordionWrapper {
    width: 60%;
  }
}