.AccordionContainer {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.AccordionHeader {
  background-color: #f7f7f7;
  cursor: pointer;
  padding: 10px;
}

.AccordionHeader:hover {
  background-color: #e7e7e7;
}

.AccordionContent {
  padding: 10px;
}